<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <!--div><a href="/">Home</a></div>
<div><a href=/Techskills>skills</a></div>
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
      
    
    <a  class="navbar-brand" class="navbar-nav" href="/">Home</a>
    <a  class="navbar-brand" class="navbar-nav" href="Resume">Resume</a>
    <a  class="navbar-brand" class="navbar-nav" href="AboutMe">AboutMe</a>
    <a  class="navbar-brand" class="navbar-nav" href="Techskills">Technical skills</a>
    <a  class="navbar-brand" class="navbar-nav" href="Contact">Contact</a>
    <a  class="navbar-brand" class="navbar-nav" href="Mission">Mission</a-->
    
    
    <%= yield %>
    
</div>

  </body>
</html>
